@import url('https://fonts.googleapis.com/css?family=Pacifico');

html, body {
    height: 100%;
}

.container{
    background: #222222 url('https://s20.postimg.org/jgpci10kt/IMG_253179.jpg') fixed center;
    background-size: cover;
    transition: background 1s linear;
    height: 100%;
    width: 100%;
}

.local-weather-title {
    font-family: 'Pacifico';
    color: #fff;
    font-size: 36px;
}