html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;    
}

.container {
    width: 100%;
    height: 100%;
    background-color: rgba(166, 167, 179, 0.2);
    position: relative;
    text-align: center;

}

.game-settings {
    vertical-align: middle;
    height: 350px;
    width: 450px;
    background-color: rgba(225, 224, 239, 0.2);  
    margin: 0 auto;
    display: inline-block; 
    margin-top:150px;
    border: solid 1px rgba(225, 225, 210, 0.8);
}

.setting-choices {
    margin-top: 35px;
}

.setting-choice {
    width:130px;
    font-family: 'FontAwesome';
    font-size: 6.5em;
    cursor: pointer;
    background-color: rgba(220, 225, 229, 0.8);  
    display: inline-block;  
    border: solid 2px rgba(215, 215, 220, 0.9);
    border-radius: 15px;
    margin:15px;
}

.setting-choice:hover {
    background-color: rgba(220, 225, 229, 0.2); 
}

.cell-X:hover:before {
    font-family: 'FontAwesome';
    content: "\f00d";
}

.cell-O:hover:before {
    font-family: 'FontAwesome';
    content: "\f10c";
}

.cell:hover {
    background-color: rgba(220, 225, 229, 0.3);
    color:rgba(1, 1, 1, 0.3);
    font-size:64px;
}

.game-board .cell {
    cursor: pointer;
}

.game-board .occupied-cell {
    background-color: rgba(210, 155, 119, 0.2);
    color:rgba(1, 1, 1, 0.3);
    font-size:64px;
    font-family: 'FontAwesome';
}

.game-board .locked-cell {
    background-color: rgba(220, 225, 229, 0.2);
    color:rgba(1, 1, 1, 0.3);
    font-size:64px;
    font-family: 'FontAwesome';
}

.occupied-cell-X:before {
    font-family: 'FontAwesome';
    content: "\f00d";
}

.occupied-cell-O:before {
    font-family: 'FontAwesome';
    content: "\f10c";
}

.game-board {
    width:450px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top:100px;
    border-radius: 51px;
    border: 3px solid rgba(0, 0, 0, 0.05);   
    padding: 10px;
    background-color: rgba(215, 215, 220, 0.1);
    
}

.game-board div {
    flex-grow: 1;
    width: 26%;
    height: 100px;
    margin:15px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.05);    
    background-color: rgba(158, 171, 181, 0.2);
}

.game-replay {
    vertical-align: middle;
    height: 415px;
    width: 450px;
    background-color: rgba(223, 225, 226, 0.8);
    margin: 0 auto;
    display: inline-block;
    margin-top: -440px;
    border: solid 1px rgba(210, 155, 119, 0.2);
    border-radius: 5px;
}

.replay-choices {
    margin-top: 35px;
}

.replay-choice {
    width:130px;
    font-family: 'FontAwesome';
    font-size: 6.5em;
    cursor: pointer;
    background-color: rgba(220, 225, 229, 0.8);  
    display: inline-block;  
    border: solid 2px rgba(215, 215, 220, 0.9);
    border-radius: 15px;
    margin:15px;
}

.replay-choice:hover {
    background-color: rgba(220, 225, 229, 0.2); 
}

.replay-choice-ok{
    background-color: rgba(78, 182, 75, 0.7);
}

.replay-choice-ok:hover {
    background-color: rgba(71, 187, 72, 0.8);
}

.replay-choice-cancel {
    background-color: rgba(245, 109, 107, 0.7);
}

.replay-choice-cancel:hover {
    background-color: rgba(230, 95, 95, 0.8);
}

.game-quit {
    font-size: 36px;
    color: rgba(230, 95, 95, 0.8);
}